<a href="https://colab.research.google.com/github/pankajkumaryadav-ai-ds/AI-DS-LAB/blob/main/AIDS_PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import numpy as np
import pandas as pd

In [35]:
pankaj=pd.DataFrame(np.random.randint(-10,40,size=(10,4)),columns=list("ABCD"))
pankaj

    A   B   C   D
0  37  14  18   2
1  33  30  32  25
2  25  13  -6  13
3  -9  -7  35  -3
4  14   5  12  27
5  11  22  -6  33
6  18   1  30  -2
7  -9  16  35  -6
8  -6  19  16  -1
9   7  37  -8  21

In [46]:
frame2=pd.DataFrame({"S.No":[1,2,3,4,5,6,7,8,9,10]})

In [52]:
df=pd.concat([frame2,pankaj],axis=1)
df

   S.No   A   B   C   D
0     1  37  14  18   2
1     2  33  30  32  25
2     3  25  13  -6  13
3     4  -9  -7  35  -3
4     5  14   5  12  27
5     6  11  22  -6  33
6     7  18   1  30  -2
7     8  -9  16  35  -6
8     9  -6  19  16  -1
9    10   7  37  -8  21

In [53]:
df[df<0]

   S.No    A    B    C    D
0   NaN  NaN  NaN  NaN  NaN
1   NaN  NaN  NaN  NaN  NaN
2   NaN  NaN  NaN -6.0  NaN
3   NaN -9.0 -7.0  NaN -3.0
4   NaN  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN -6.0  NaN
6   NaN  NaN  NaN  NaN -2.0
7   NaN -9.0  NaN  NaN -6.0
8   NaN -6.0  NaN  NaN -1.0
9   NaN  NaN  NaN -8.0  NaN

In [58]:
final=pd.DataFrame({"Total":[]})
final

Empty DataFrame
Columns: [Total]
Index: []

In [59]:
final2=pd.concat([frame2,pankaj,final],axis=1)
final2

   S.No   A   B   C   D  Total
0     1  37  14  18   2    NaN
1     2  33  30  32  25    NaN
2     3  25  13  -6  13    NaN
3     4  -9  -7  35  -3    NaN
4     5  14   5  12  27    NaN
5     6  11  22  -6  33    NaN
6     7  18   1  30  -2    NaN
7     8  -9  16  35  -6    NaN
8     9  -6  19  16  -1    NaN
9    10   7  37  -8  21    NaN

In [62]:
col_list= ['A', 'B', 'C','D']
df['Total'] = df[col_list].sum(axis=1)
df

   S.No   A   B   C   D  Total
0     1  37  14  18   2     71
1     2  33  30  32  25    120
2     3  25  13  -6  13     45
3     4  -9  -7  35  -3     16
4     5  14   5  12  27     58
5     6  11  22  -6  33     60
6     7  18   1  30  -2     47
7     8  -9  16  35  -6     36
8     9  -6  19  16  -1     28
9    10   7  37  -8  21     57